.card-main {
    width: 15rem;
    height: 20rem;
    background-color: #f7f7f7;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 4px 8px 0 1px rgba(0, 0, 0, 0.218);
}

.card {
    width: 13.5rem;
    height: 18.5rem;
    background: white;
    border-radius: 0.5rem;
}

.card-text {
    text-align: justify;
    font-size: 0.9rem;
    padding: 0 1rem;
}

.card img {
    width: 13.5rem;
    height: 9.5rem;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .card-main {
        width: 23rem;
        height: 20rem;
    }

    .card {
        width: 21rem;
        height: 18rem;
    }

    .card img {
        width: 21rem;
        height: 10rem;
        border-radius: 0.5rem;
    }
}

@media only screen and (max-width: 425px) {
    .card-main {
        width: 17rem;
        height: 20rem;
    }

    .card img {
        width: 15rem;
        height: 10rem;
        border-radius: 0.5rem;
    }

    .card {
        width: 15rem;
        height: 18rem;
    }
}