.chef-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.chef-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24rem;
    height: 31rem;
    background-color: black;
    margin-top: 4rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.chef-content {
    width: 23rem;
    height: 30rem;
    background-color: white;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.chef-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 4rem;
    gap: 1rem;
}

.chef-text span {
    color: #ff5349;
}

.chef-info {
    width: 50rem;
}


@media only screen and (max-width: 768px) {
    .chef-main {
        flex-direction: column;
        gap: 0;
    }

    .chef-background {
        width: 35rem;
        height: 31rem;
        margin-top: 2rem;
    }

    .chef-content {
        width: 34rem;
        height: 30rem;
    }

    .chef-info {
        width: 40rem;
        text-align: center;
    }

    .chef-info h2 {
        text-align: center;
    }

    .chef-text {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 425px) {
    .chef-background {
        width: 22rem;
        height: 24rem;
        margin-top: 2rem;
    }

    .chef-content {
        width: 21rem;
        height: 23rem;
    }

    .chef-info {
        width: 20rem;
        text-align: justify;
    }

    .chef-info p {
        padding-top: 0.5rem;
    }

}