.footer-main {
    height: 8rem;
    background: black;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1.5rem;
}

.footer-text {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.footer-text span {
    color: #ff5349;
}

