.popular {
    padding-top: 12rem;
}

.popular-text {
    text-align: center;
}

.popular-text span {
    color: #ff5349;
}

.popular-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.list {
    position: relative;
    width: 13rem;
    height: 10.5rem;
    background-image: url(../images/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}

.price {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 7rem;
    height: 2.5rem;
    background: red;
    text-align: center;
    border-radius: 0.5rem;
}

.price p {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.popular-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.popular-icon {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    margin-top: 0.5rem;
}

.popular-icon i {
    color: #ff5349;
}

.popular-button {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .popular-list {
        flex-direction: column;
    }

    .list {
        width: 21rem;
    }

    .popular-button {
        margin-top: 0.8rem;
    }

}

@media only screen and (max-width: 425px) {
    .popular {
        padding-top: 7rem;
    }


    .list {
        width: 15rem;
    }


}