.s-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.s-text h1 {
    font-size: 1.7rem;
    color: #4e4c4c;
}

.s-text span {
    color: #ff5349;
}

.c-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.c-items-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.c-two-main {
    width: 39rem;
    height: 20rem;
    background-color: #f7f7f7;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 4px 8px 0 1px rgba(0, 0, 0, 0.218);
}

.c-two-main img {
    width: 37rem;
    height: 18rem;
    object-fit: cover;
}

.c-two {
    width: 37rem;
    height: 18rem;
    background: white;
}

@media only screen and (max-width: 768px) {
    .c-items {
        flex-direction: column;
    }

    .c-items-two {
        flex-direction: column;
        margin-top: 2rem;
    }

    .c-two-main {
        width: 34rem;
    }

    .c-two-main img {
        width: 32rem;
    }

    .c-two {
        width: 32rem;
        height: 18rem;
    }

}

@media only screen and (max-width: 425px) {
    .c-two-main {
        width: 20.5rem;
    }

    .c-two-main img {
        width: 18.5rem;
    }

    .c-two {
        width: 18.5rem;
        height: 18rem;
    }

}